* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.header {
    height: 3.5em; /* 56px / 16px */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
}

.header__logo {
    font-size: 20px;
}

.header__signInButton {
    font-size: 15px;
    padding: 0.8em 0.875em;

    border-radius: 5px;
    color: #fff;
    background: #0476d9;
    border: none;
}

/****** Start overlay styling ******/
.overlay {
    background: navy;
    padding: 7.9375em 0;
}

.overlay__title {
    text-align: center;
    margin-bottom: 53px;
    color: #fff;
}
.overlay__innerWrap {
    /* background: orange; */
    width: 90%;
    margin: 0 auto;
}

.overlay__emailInput {
    padding: 0 16px;
    display: inline-block;
}

.overlay__signUpBtn {
    background: #0476d9;
    color: #fff;
    transition: background 0.3s ease-in-out;
}

.overlay__signUpBtn:hover {
    background: #0169d9;
}

.overlay__email {
    width: 100%;
    height: 2.875em;
    margin: 7px 0;
    padding-top: 0.24em;
    padding-bottom: 0.24em;
    border-radius: 5px;
    border: none;
    font-size: 1.188em;
}
/****** End overlay styling ******/

/****** Start featureIcons styling ******/

.featureIcons {
    padding: 5.625em 1.625em;
}

.featureIcons__wrap {
    max-width: 1078px;
}

.featureIcons__item {
    text-align: center;
}

.featureIcons__icon {
    font-size: 55px;
    margin: 0.5em 0;
}

.featureIcons__title {
    font-size: 1.75em;
    margin-bottom: 0.5em;
}

.featureIcons__description {
    font-size: 1.25em;
}
/****** End featureIcons styling ******/

/****** Start overlay styling ******/
.showcase__container {
    width: 100%;
}

.showcase__image {
    background: gold;
    height: 480px;
}

.showcase__text {
    padding: 2em 2.5em;
    line-height: 1.2;
}
.showcase__title {
    margin-bottom: 27px;
    font-size: 2em;
}

.showcase__description {
    font-size: 1.2em;
    line-height: 1.5;
}
/****** End overlay styling ******/

/****** Start testimonials styling ******/
.testimonials {
    background: #f2f2f2;
    padding: 7em 0;
}

.testimonials__title,
.testimonials__inner {
    text-align: center;
}

.testimonials__inner {
    margin: 1.5em auto;
    max-width: 350px;
}

.testimonials__title {
    margin-bottom: 40px;
}

.testimonial__imagePlaceholder {
    background: grey;
    width: 11.8em;
    height: 11.8em;
    border-radius: 50%;
    margin: 1.25em auto;
}

.testimonial__person,
.testimonial__quote {
    margin: 0.75em auto;
}
/****** End testimonials styling ******/

/****** Start footer styles ******/
footer {
    padding: 3.75em 0;
}

.footerLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 374px;
    margin: 1.25em auto;
    font-size: 0.9em;
}

.bulletPoint {
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: #000;
}

.copyright {
    text-align: center;
    font-size: 0.85em;
}

.socialMedia {
    width: 135px;
    margin: 27px auto;
    display: flex;
    justify-content: space-between;
    font-size: 1.75em;
}
/****** End footer styles ******/

/****** Shared styles ******/
.header,
.featureIcons {
    background: #f8f9fa;
}

/****** Media Queries ******/
@media only screen and (min-width: 769px) {
    .header {
        padding: 0 7em;
    }

    .overlay {
        padding: 10em 0;
    }

    .overlay__innerWrap {
        width: 80%;
        max-width: 815px;
    }

    .overlay__title {
        font-size: 2.75em;
    }

    .overlay__emailForm {
        display: flex;
        justify-content: space-between;
    }

    .overlay__emailInput {
        width: 80%;
    }

    .overlay__signUpBtn {
        width: 18%;
    }
}

@media only screen and (min-width: 990px) {
    .featureIcons {
        padding-top: 9em;
        padding-bottom: 9em;
    }

    .featureIcons__wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .featureIcons__item {
        width: 32%;
    }

    .showcase {
        display: flex;
        flex-wrap: wrap;
    }

    .showcase__container {
        width: 50%;
    }

    .showcase__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6em;
    }

    .showcase__design_text {
        order: 1;
    }

    .showcase__design_image {
        order: 2;
    }

    .showcase__updated_image {
        order: 3;
    }
    .showcase__updated_text {
        order: 4;
    }

    .showcase__customize_text {
        order: 5;
    }

    .showcase__customize_image {
        order: 6;
    }

    .testimonials__wrap {
        display: flex;
        justify-content: space-around;
        max-width: 1105px;
        margin: 0 auto;
    }

    .testimonials__inner {
        width: 30%;
        margin: inherit;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .footerLinks {
        justify-content: space-between;
    }

    .copyright {
        text-align: left;
    }

    .socialMedia {
        margin: 0;
    }

    .bottom_overlay {
        max-height: 330px;
        padding: 3em 0;
    }
}
